In [2]:
import pandas as pd

In [5]:
# Obtener el json
sensor_df = pd.read_json('export_db_arduino_27_dic.json')

In [6]:
# sensor1
sensor1 = sensor_df.drop(columns=['nameSensors', 'sensor2', 'sensor3', 'sensor4', 'sensor5'])
sensor1.dropna(subset = ["sensor1"], inplace=True)

In [7]:
sensor1

                                                                sensor1
2020-09-17T22:50:23Z  {'humidity': 61, 'light': 66.50391, 'temperatu...
2020-09-17T22:50:37Z  {'humidity': 60, 'light': 66.50391, 'temperatu...
2020-09-17T22:50:47Z  {'humidity': 60, 'light': 66.01563, 'temperatu...

In [8]:
#sensor2
sensor2 = sensor_df.drop(columns=['nameSensors', 'sensor1', 'sensor3', 'sensor4', 'sensor5'])
sensor2.dropna(subset = ["sensor2"], inplace=True)

In [9]:
sensor2

                                                                sensor2
2020-09-17T22:50:23Z  {'humidity': 61, 'light': 66.50391, 'temperatu...
2020-09-17T22:50:37Z  {'humidity': 60, 'light': 66.50391, 'temperatu...
2020-09-17T22:50:47Z  {'humidity': 60, 'light': 66.01563, 'temperatu...
2020-09-17T22:52:39Z  {'humidity': 60, 'light': 68.45703, 'temperatu...
2020-09-20T14:47:55Z  {'humidity': 82, 'light': 45.70313, 'temperatu...
...                                                                 ...
2020-09-20T19:18:57Z  {'humidity': 52, 'light': 32.71484, 'temperatu...
2020-09-20T19:19:07Z  {'humidity': 53, 'light': 32.32422, 'temperatu...
2020-09-20T19:19:17Z  {'humidity': 52, 'light': 32.42188, 'temperatu...
2020-09-20T19:19:27Z  {'humidity': 53, 'light': 32.51953, 'temperatu...
2020-09-20T19:19:37Z  {'humidity': 53, 'light': 31.54297, 'temperatu...

[1622 rows x 1 columns]

In [10]:
#sensor3
sensor3 = sensor_df.drop(columns=['nameSensors', 'sensor1', 'sensor2', 'sensor4', 'sensor5'])
sensor3.dropna(subset = ["sensor3"], inplace=True)

In [11]:
sensor3

                                                                sensor3
2020-09-17T22:50:23Z  {'humidity': 62, 'light': 66.50391, 'temperatu...
2020-09-17T22:50:37Z  {'humidity': 60, 'light': 66.50391, 'temperatu...
2020-09-17T22:50:47Z  {'humidity': 23, 'light': 66.01563, 'temperatu...

In [12]:
#sensor4
sensor4 = sensor_df.drop(columns=['nameSensors', 'sensor1', 'sensor2', 'sensor3', 'sensor5'])
sensor4.dropna(subset = ["sensor4"], inplace=True)

In [13]:
sensor4

                                                                sensor4
1970-01-01T00:01:12Z  {'humidity': 60, 'light': 91.69922, 'temperatu...
2020-10-14T02:14:50Z  {'humidity': 60, 'light': 91.69922, 'temperatu...
2020-10-14T02:15:06Z  {'humidity': 60, 'light': 91.79688, 'temperatu...
2020-10-14T02:15:20Z  {'humidity': 60, 'light': 91.69922, 'temperatu...
2020-10-14T02:15:31Z  {'humidity': 60, 'light': 91.69922, 'temperatu...
...                                                                 ...
2020-11-24T18:15:49Z  {'humidity': 66, 'light': 91.40625, 'temperatu...
2020-11-24T18:16:00Z  {'humidity': 66, 'light': 90.625, 'temperature...
2020-11-24T18:16:11Z  {'humidity': 66, 'light': 90.625, 'temperature...
2020-11-24T18:16:22Z  {'humidity': 66, 'light': 90.625, 'temperature...
2020-11-24T18:16:33Z  {'humidity': 66, 'light': 90.625, 'temperature...

[75011 rows x 1 columns]

In [14]:
#sensor5
sensor5 = sensor_df.drop(columns=['nameSensors', 'sensor1', 'sensor2', 'sensor3', 'sensor4'])
sensor5.dropna(subset = ["sensor5"], inplace=True)

In [15]:
sensor5

                                                                sensor5
2020-10-19T15:58:25Z  {'humidity': 11, 'light': 1020.8, 'temperature...
2020-10-19T17:36:13Z  {'humidity': 12, 'light': 544, 'temperature': ...
2020-10-19T17:37:44Z  {'humidity': 12, 'light': 1016.8, 'temperature...
2020-10-19T17:37:56Z  {'humidity': 12, 'light': 89.1, 'temperature':...
2020-10-19T19:02:34Z  {'humidity': 16, 'light': 95.2, 'temperature':...
...                                                                 ...
2020-11-21T03:20:31Z  {'humidity': 71, 'light': 37, 'temperature': 1...
2020-11-21T03:20:35Z  {'humidity': 71, 'light': 37, 'temperature': 1...
2020-11-21T03:20:44Z  {'humidity': 71, 'light': 37, 'temperature': 1...
2020-11-21T03:20:54Z  {'humidity': 71, 'light': 37, 'temperature': 1...
2020-11-21T03:21:04Z  {'humidity': 71, 'light': 37, 'temperature': 1...

[76526 rows x 1 columns]

In [16]:
len_total = len(sensor1) + len(sensor2) + len(sensor3) + len(sensor4) + len(sensor5) 
len_total

153165